@import url(https://fonts.googleapis.com/css?family=Muli:400,300italic,300,400italic);
body,
html {
    margin: 0;
    font-family: muli;
    height: 100%;
    padding: 0;
    overflow-x:hidden;
}

.container {
    min-height: 100vh;
    padding: 10px;
    background: #c7c2c2;
}
.toolbar-container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.btn {
  margin-right: 10px;
  padding: 10px;
  border: 1px transparent;
  border-radius: 10px;
}
.content {
  display: flex;
  flex-wrap: wrap;
}
.content-img {
  margin: 10px 10px 0 0;
}
.active {
  background-color: #0606f9;
  color: #fff;
}

